.ib-thumbs {
    margin:auto;
}

.ib-thumbs li {
  list-style-type: none;
  display: inline-block;
}


.ib-thumbs .active-ib-thumb {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}



  .ib-thumbs img {
      display: block-inline;
      margin: 5px;
      width: 6.56em;
      height: 6.56em;
  }

.ib-nav span {
  font-size: 3em;
  color: rgba(134, 134, 134, 0.3);
}
.ib-nav span:hover {
  color: rgba(134, 134, 134, 0.5);
  cursor: pointer;
}

.ib-nav .ib-nav-left {
  position: absolute;
  bottom: 290px;
  left: 0;
}

.ib-nav .ib-nav-right {
  position: absolute;
  bottom: 290px;
  right: 0;
}

  .ib-nav-dots {
  	width: 100%;
  	height: 11px;
    color: #EBE9E5;
  	display: inline-block;
  	text-align: center;
  }

  .ib-nav-dot {
  	width: 11px;
  	height: 11px;
  	margin: 0 4px;
  	border-radius: 100%;
  	display: inline-block;
  	background-color: #EBE9E5;
  }

  .ib-nav-dot:hover {
  	cursor: pointer;
  }

.ib-nav-dot.active-dot {
  background-color: #4A4A49;
}

  #imageCaption {
  text-align: center;
  width: 100%;
  }

  #active-image {
    max-width: 100%;
  }
